
Makefile
Makefile.in

.deps
.libs
.obj

*.aux
*.dvi
*.lof
*.log
*.lot
*.toc
*.blg
*.bbl
*.out
.*~
*.o
*.lo
*.la
*.m4
*.cache


# user-specific directories
/v1.4/user/
/v2.0/user/

/v1.4/userkr/
/v2.0/userkr/


# autotools distribution files
INSTALL
SVNREV
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
