# Files to be usually ignored everywhere in repository
# (Created by LaTeX, emacs, autotools ...)
# LaTeX
*.aux
*.dvi
*.lof
*.log
*.lot
*.toc
*.blg
*.bbl
*.out
# Editors (emacs)
.*~
*~
.#*
#*#
# autotools
*.cache
*.o
*.lo
*.la
.deps
.libs
.obj
Makefile.in
