# Files to be usually ignored in projects managed with autotools
INSTALL
GITREV
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1
test-driver
Makefile
doc/doxygen
# These m4 macros normally should be reinstalled from the development machine
# using autoreconf -i
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
